* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main-container {
    height: 100vh;
  }
  .login-container {
    transform: translate(14%, -2%);
    height: 100vh;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
  }
  .left {
    background-color: white;
    width: 30em;
    padding: 5rem 3rem;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  .login-container {
    padding: 2rem 5rem;
  }
  input {
    border-radius: 5px;
    border: 1px solid gray;
  }
  .login-text {
    margin-top: -2rem;
  }
  p,
  .login-text {
    font-weight: 600;
  }
  .left h1 {
    color: rgb(255, 196, 0);
  }
  .left button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgb(255, 196, 0);
  
    font-weight: 600;
    text-transform: uppercase;
  }
  .logform {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  .right {
    background-color: rgb(255, 196, 0);
    box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
    width: 35%;
    height: 79.5%;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
  }
  .right img {
    height: 70vh;
    text-align: center;
    transform: translate(50%, 0%);
  }
  