*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;   
    padding: 0rem 15rem;
    gap: 4rem;
    margin: 3rem 0rem;

}
.post{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-card{
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 20rem;
    /* height: 13rem; */
    padding: 1.5rem;
    /* margin: 3rem; */
    box-shadow:  0px 0px 9px 3px #838080;
}
.user-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.user-name{
    font-weight: bold;
    font-size: 1.1rem;
}
.post-card button{
    padding: 0.5rem 1rem;
    background-color: rgb(255, 196, 0);
    border-radius: 5px;
    border: none;
    margin-top: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.homepost{
    padding: 2rem 0rem;
    text-align: center;
}
.donar-content{
    text-align: center;
    margin-top: 2rem;
}
.donar{
    font-size: 1.4rem;
}
.donar-tag{
    color: rgb(199, 156, 16);
    font-style: italic;
    font-size: 1.3rem;
}
@media only screen and (max-width: 768px){
    .container{
        padding: 2rem 1rem;
    }
    .user-name{
        font-size: 1.2rem;
    }
    .post-card p:not(.user-name){
        font-size: 1.1rem;
        margin-top: 0.2rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post-card{
        margin: 1rem;
    }
}

.post-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .post-card .status {
    font-weight: bold;
  }
  
  .post-card .status.available {
    color: green;
  }
  
  .post-card .status.not-available {
    color: red;
  }
  